<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Practice Suite">
    <listeners>
        <listener class-name ="testlisteners.TestListener"></listener>
    </listeners>
    <test name="Test Basics 1">
        <classes>
            <class name="MyTests1"/>
        </classes>
    </test> <!-- Test -->

    <test name="Test Basics 2">
        <classes>
            <class name="MyTests2"/>
        </classes>

    </test> <!-- Test -->
</suite> <!-- Suite -->